/* css variables */
:root{
    --primary-color:#596D48;
    --secondary-color:#E5E7EB;
    --error-color:red;
    --selected-input-border-color:blue;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* using custom fonts */
@font-face {
    font-family: Norse-Bold;
    src: url(../fonts/Norse-Bold.otf);
}
/* styling the body */
body{
    height: 100vh;
}
/* styling section */
section{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    
    /* align-items: center; */
 
}

/* styling column1 of section */
.column1{
    background-image: url(../img/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 160px;
    position: relative;
    padding-bottom: 40px;
    width: 40%;
    
}
.column1 :is(ul li, p, a, span){
    font-family: Norse-Bold;
    color: white;
    list-style-type: none;


}
#logo{

  width: 100px;
 /* height: 100px; */ 
 
   
}
span#odin{
    font-size: 9rem;
   
}


.logo-section{
    background-color: black;
    opacity: 0.4;
  
   
  


}
/* .logo-section li>span{
    font-size: 6rem;
    padding-bottom: 40px;
 
} */
.logo-section ul{
    display: flex;
    align-items: center;
    justify-content: first baseline;
    padding-right: 60px;
    flex-wrap: wrap;
   
}

.photo-credit{
    position: absolute;
    bottom: 0;
    left: 30%;
    padding-bottom: 10px;
 

}
.photo-credit :is(p){
    text-align: center;
}

/* styling column2 of section */
.column2{
    flex: 1;
    padding-top: 80px;
    background-color: #F8F8FF;
   
}
p.para1{

}
p.para2{
    padding-top: 30px;
}
.content1{
    padding-bottom: 40px;
    padding: 40px;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.5rem;
    letter-spacing: 1.2;
    
  
}
.content2{
    background-color: white;
    /* padding: 40px; */
   
}

.form-row1{
     display: flex;
     align-items: center;
     gap: 100px;
     flex-wrap: wrap;
      padding-left: 40px;
     /* box-shadow: 0px 3px 15px ; */
     box-shadow: 0 8px 2px -2px lightgray;
     padding: 20px;
    
   
}
.content2>h2{
    padding-left: 40px;
    padding-top: 20px;
}

.form-row1 ul li{
    list-style-type: none;
}
.form-row1 div, .form-row2 div{
    padding-bottom: 10px;
}
input{
    padding: 5px;
    border-radius:3px ;
    border-style: solid;
    border-color: var(--secondary-color);
}
/* input[type="password"]{
    border-color: var(--error-color);
} */

input:focus{
    outline: none !important;
    border-color: var(--selected-input-border-color);
    box-shadow: 0 0 8px #719ECE;
   
    
}
input:valid{
     border-color: green;
}

/* input:invalid{ */
    /* border-color: var(--error-color); */ */
/* } */

#heading{
    padding: 40px;
    padding-top: 20px;
  
}

.form-row2{
    padding: 40px;

}
#btn-create-account{
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    
}
.form-row2 h3{
    padding-top: 20px;
    padding-bottom: 120px;
    font-size: 1.0rem;
}
.form-row2 >h3>a{
    color: var(--primary-color);
    text-decoration: none;
}